<ion-header>

  <ion-navbar color="background">
    <ion-title>Vacinas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list no-lines>
        <ion-item *ngFor="let vacina of vacinas">
            <ion-item-sliding (click)="expandView(vacina)">
                <ion-item>
                    <ion-avatar item-start text-center>
                        <h6 ion-text>{{ getDate(vacina.data).getMonth() }}</h6>
                        <small ion-text>{{ monthsName[getDate(vacina.data).getMonth()] }}</small>
                    </ion-avatar>
                    <h1 ion-text>{{ vacina.nome }}</h1>
                    <small ion-text color="light" *ngIf="!(vacina.detail === true)">Toque para mais informações.</small>
                    <small ion-text color="light" *ngIf="vacina.detail === true">Toque para esconder detalhes.</small>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="primary">
                        <ion-icon name="create"></ion-icon>
                        Editar
                    </button>
                    <button ion-button color="danger">
                        <ion-icon name="trash"></ion-icon>
                        Excluir
                    </button>
                </ion-item-options>
            </ion-item-sliding>
            <ion-item *ngIf="vacina.detail === true">
                <ion-grid>
                    <ion-row><h6 ion-text>Detalhes</h6></ion-row>
                    <ion-row>
                        <ion-col>Tipo:</ion-col>
                        <ion-col>{{ vacina.tipo }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>Data:</ion-col>
                        <ion-col>{{ dateFormat(vacina.data) }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>Observacões:</ion-col>
                        <ion-col>
                            <ion-item>{{ vacina.observacoes }}</ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col *ngFor="let anexo of vacina.anexos">
                            <ion-badge color="light" text-center>
                                <ion-icon name="attach"></ion-icon>
                                caralho
                            </ion-badge>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-item>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="openAdd()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
